.game-counter {
  grid-area: counter;
  padding: 1px 1px 0 1px;  
}

.game-counter__count {  
  display: flex;
  justify-content: center;
  align-items: center;  
  width: 2.5rem;
  height: 2.5rem;
  font-weight: 900;
  font-size: 1.5rem;
  color: red;
  background-color: black;
}