.game-setting {
  position: fixed; 
  display: flex; 
  width: 100%;
  height: 100%;  
  transition: all 0.25s ease;    
  z-index: 20;
}

.game-setting[data-visible='SHOW'] {
  top: 0;
  left: 0;
}

.game-setting[data-visible='HIDE'] {
  top: 0;
  left: -100%;
}

.game-setting__button-show {
  position: fixed;
  top: 1rem;
  left: 1rem;
  font-size: 2rem;  
  font-weight: 900;
  transition: all 0.25s ease;  
  z-index: 30;
}

.game-setting__button-show:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.game-setting__overlay {  
  width: calc(100% - 20rem);
  height: 100%;
  background-color: rgba(204, 204, 204, 0.5);    
}

.game-setting__container {  
  padding: 5rem 1rem 1rem 1rem;
  display: grid;
  grid-template-columns: auto;  
  grid-template-rows: repeat(15, min-content);  
  grid-gap: 0.5rem;
  width: 20rem;
  height: 100%;      
  background-color: #ccc;  
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  z-index: 20;
}

.game-setting__container .input-group-text,
.game-setting__container .btn,
.game-setting__container .form-label,
.game-setting__container .custom-control-label {
  font-size: 14px;
  font-weight: 600;
}

.game-setting__container .form-group {
  margin: 0;
}

.game__button-play {
  position: fixed;
  top: 1rem;
  left: 3rem;
  font-size: 2rem;  
  font-weight: 900;
  transition: all 0.25s ease;  
}

.game__button-play:hover {
  cursor: pointer;
  transform: scale(1.2);
}