.game {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;  
} 

.game__container {  
  padding: 1px;
  display: grid;
  grid-template-areas: 
    'header header header'
    'field field field'
    'field field field'
    'field field field';  
  background-color: #ccc;  
  max-height: 85vh;
  overflow: auto;
}

.game__header {
  grid-area: header;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}