.game-smile {  
  padding: 1px;   
  margin: 0 auto;  
}

.game-smile__result {
  display: flex;
  justify-content: center;
  align-items: center;  
  width: 2.5rem;  
  height: 2.5rem;
  font-weight: 900;
  font-size: 1.75rem;  
  transition: all 0.25 ease;
}

.game-smile__result:hover {
  cursor: pointer;
  transform: scale(1.1);
}
